# =====================================================
# GIGLY - Hyperlocal Gig Platform
# Environment Configuration
# =====================================================

# Server
NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:3000

# MongoDB
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/gigly?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://mrprashantcse_db_user:prashant999a@cluster0.z9satkz.mongodb.net/gigly?retryWrites=true&w=majority

# JWT
# JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_SECRET=prashant999a
JWT_EXPIRE=7d
# JWT_REFRESH_SECRET=your_refresh_secret_key_change_this
JWT_REFRESH_SECRET=prashant999a
JWT_REFRESH_EXPIRE=30d

# Cloudinary (File Uploads)
CLOUDINARY_CLOUD_NAME=dcrurhurx
CLOUDINARY_API_KEY=672384498936775
CLOUDINARY_API_SECRET=wgXbdTiX8AjkbT2-5O__S35LWTQ

# Nodemailer (Email)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
FROM_NAME=Rozgaaar
FROM_EMAIL=noreply@rozgaaar.app

# Stripe (Payments)
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxxxxx

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100

OPENROUTER_API_KEY=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